* {
    margin:0; padding:0; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
a { text-decoration: none !important; }

$text-primary-color: #707070;
$text-secondary-color: #94A7BB;

$primary-color: rgb(0, 138,230);
$secondary-color: rgb(0, 178, 200);

.content {
    padding-left: 5%;
    padding-right: 5%;
}

$layout-breakpoint-large: 1250px;
$layout-breakpoint-medium: 1000px;
$layout-breakpoint-small: 750px;

$layout-breakpoint-mobile-xl: 650px;
$layout-breakpoint-mobile-l: 550px;
$layout-breakpoint-mobile-m: 450px;
$layout-breakpoint-mobile-s: 350px;
$layout-breakpoint-mobile-xs: 250px;

$layout-breakpoint-mobile-height-xl: 550px;
$layout-breakpoint-mobile-height-l: 450px;
$layout-breakpoint-mobile-height-m: 380px;
$layout-breakpoint-mobile-height-s: 280px;
$layout-breakpoint-mobile-height-xs: 180px;

// -----------------------------------------------------------------------navbar
#navbar {
    @extend .content;
    position: fixed;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    z-index: 9999;
    background-color: rgba(255,255,255,0);
    transition: background-color .4s;
    div {
        position: relative;
        #logo {
            display: inline-block;
            img {
                transform: scale(0, 0);
                transition: transform .2s;
                width: 90px;
                height: 90px;
                vertical-align: top;
            }
            div {
                margin-left: 15px;
                text-align: right;
                display: inline-block;
                transform: translateX(-40%);
                transition: transform .2s;
                h1 {
                    margin: 0;
                    color: white;
                    font-weight: bold;
                }
                h2 {
                    color: white;
                }
            }
        }
        #menus {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                align-items: center;
                li#menu-mobile-close a {
                    text-align: right !important;
                }
                li {
                    display: inline-block;
                    margin-left: 30px;
                    a {
                        color: white;
                        font-weight: bold;
                        position: relative;
                    }
                }
                li a .menu-border {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid white;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 0%;
                    transition: width .2s;
                }
                li:hover a .menu-border {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid white;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 80%;
                }
                li.active-menu a .menu-border {
                    text-align: center;
                    content: '';
                    border-bottom: 2px solid white;
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                    width: 80%;
                    transition: width .2s;
                }
            }
        }
        #menus-mobile {
            position: absolute;
            top: 100px;
            right: 0;
            height: 100%;
            width: 60%;
            transform: translateX(150%);
            transition: transform .2s;
            ul {
                li {
                    text-align: center;
                    display: block;
                    background-color: white;
                    padding: 10px;
                    a {
                        color: $text-primary-color;
                        font-weight: bold;
                        position: relative;
                    }
                }
                li:hover {
                    background-color: rgba(255,255,255,.85);
                }
                li.active-menu-mobile {
                    background-color: rgba(255,255,255,.85);
                }
                li.active-menu-mobile a {
                    font-size: 1.5em;
                }
            }
        }
        #menus-mobile-button-show {
            display: none;
            color: white;
            font-size: 1.8em;
            position: absolute;
            top: 10px;
            right: 10px;
        }
        #menus-mobile-button-hide {
            display: none;
            color: white;
            font-size: 2.2em;
            position: absolute;
            top: 5px;
            right: 10px;
        }
    }
}
@media screen and (min-width: $layout-breakpoint-medium) {
    #navbar {
        div {
            #menus-mobile {
                display: none !important;
            }
            #menus-mobile-button-show {
                display: none !important;
            }
            #menus-mobile-button-hide {
                display: none !important;
            }
        }
    }
}
@media screen and (min-width: $layout-breakpoint-small) {
    #navbar {
        div {
            #menus-mobile {
                display: none !important;
            }
            #menus-mobile-button-show {
                display: none !important;
            }
            #menus-mobile-button-hide {
                display: none !important;
            }
        }
    }
}
@media screen and (max-width: $layout-breakpoint-medium) {
    #navbar {
        height: 90px;
        div {
            #logo {
                img {
                    width: 60px;
                    height: 60px;
                }
                div {
                    h1 {
                        font-size: 1.8em;
                    }
                    h2 {
                        font-size: 1.4em;
                    }
                }
            }
            #menus {
                ul {
                    li {
                        margin-left: 20px;
                        a {font-size: .9em;}
                    }
                }
            }
        }
    }
}
@media (max-width: $layout-breakpoint-small) {
    #navbar {
        div {
            #logo {
                img {
                    display: none;
                }
                div {
                    transform: translateX(0) !important;
                    h1 {
                        font-size: 1.6em;
                    }
                    h2 {
                        font-size: 1.2em;
                    }
                }
            }
            #menus {
                display: none;
            }
            #menus-mobile-button-show {
                display: inline-block;
            }
        }
    }
}

// -----------------------------------------------------------------------banner
#banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    img#banner-bg {
        position: absolute;
        height: 120%;
        width: 130%;
        left: -8%;
        top: -25%;
    }
    div#banner-text {
        @extend .content;
        color: white;
        position: absolute;
        width: 100%;
        height: 80vh;
        top: 120px;
        left: 10vw;
        padding-top: 10vh;
        font-size: 4em;
        div {
            display: block;
            span {
                position: absolute;
            }
        }
        div#banner-btn a {
            color: white;
            position: absolute;
            margin-top: 50px;
            padding: 5px 15px;
            border-radius: 20px;
            font-size: .3em;
            background-color: $text-primary-color;
            transition: background-color .4s;
            box-shadow: 5px 5px rgba(0,0,0,.1);
        }
        div#banner-btn a:hover {
            color: $text-primary-color;
            background-color: white;
            box-shadow: 0 0 lightgray;
        }
    }
}
@media screen and (max-width: $layout-breakpoint-medium) {
    #banner {
        img#banner-bg {
            width: 140%;
        }
    }
}
@media screen and (max-width: $layout-breakpoint-small) {
    #banner {
        img#banner-bg {
            width: 180%;
            left: -10%;
        }
        div#banner-text {
            font-size: 3em;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-mobile-xl) {
    #banner {
        height: 900px;
        div#banner-text {
            font-size: 2em;
        }
    }
}
@media screen and (max-height: $layout-breakpoint-mobile-height-xl) {
    #banner {
        height: 400px;
        div#banner-text {
            padding-top: 5vh;
            font-size: 1.6em;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-mobile-l) {
    #banner {
        height: 850px;
        div#banner-text {
            font-size: 2em;
        }
    }
}
@media screen and (max-height: $layout-breakpoint-mobile-height-l) {
    #banner {
        height: 400px;
        div#banner-text {
            padding-top: 5vh;
            font-size: 1.6em;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-mobile-m) {
    #banner {
        height: 700px;
        div#banner-text {
            font-size: 2em;
        }
    }
}
@media screen and (max-height: $layout-breakpoint-mobile-height-m) {
    #banner {
        height: 350px;
        div#banner-text {
            padding-top: 0;
            font-size: 1.4em;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-mobile-s) {
    #banner {
        height: 650px;
        div#banner-text {
            font-size: 2em;
        }
    }
}
@media screen and (max-height: $layout-breakpoint-mobile-height-s) {
    #banner {
        height: 300px;
        div#banner-text {
            padding-top: 0;
            font-size: 1em;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-mobile-xs) {
    #banner {
        height: 550px;
        div#banner-text {
            font-size: 2em;
        }
    }
}
@media screen and (max-height: $layout-breakpoint-mobile-height-xs) {
    #banner {
        height: 2500px;
        div#banner-text {
            padding-top: 0;
            font-size: 1em;
        }
    }
}

//-------------------------------------------------------------------------------services
#services {
    @extend .content;
    text-align: center;
    color: $text-primary-color;
    overflow: hidden;
    #service-section {
        margin-top: 50px;
        #service-statement {
            font-size: 1.5em;
            padding: 0 20%;
            margin-bottom: 50px;
        }
        section {
            padding: 50px 0;
            img {
                width: 40%;
                transform: scale(1, 1);
                transition: transform .6s;
                vertical-align: initial;
            }
            img:hover {
                transform: scale(1.1, 1.1);
            }
            div {
                display: inline-block;
                width: 60%;
                text-align: left;
                padding: 20px 60px;
                h2 {
                    color: rgb(56, 142, 210);
                    position: relative;
                }
                p {
                    font-size: 1.5em;
                }
            }
            div h2::after {
                content: '';
                width: 0;
                position: absolute;
                border-bottom: 2px solid rgb(56, 142, 210);
                left: 0;
                bottom: -20%;
                transition: width .4s;
            }
            div:hover h2::after {
                width: 100%;
            }
        }
        section.orientation-left {
            img {
                margin-left: -200%;
            }
            div {
                float: right;
                margin-right: -100%;
            }
        }
        section.orientation-right {
            img {
                margin-right: -200%;
            }
            div {
                float: left;
                margin-left: -100%;
            }
        }
    }
}
#service-model {
    text-align: center;
    color: white;
    padding: 60px;
    background-color: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
    h1 {
        font-weight: bold;
    }
}
@media screen and (max-width: $layout-breakpoint-large) {
    #services {
        #service-section {
            #service-statement {
                p {
                    font-size: 1em;
                }
            }
            section.orientation-left {
                div {
                    h2 {
                        font-size: 1.4em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
            }
            section.orientation-right {
                div {
                    h2 {
                        font-size: 1.4em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $layout-breakpoint-medium) {
    #services {
        #service-section {
            margin-top: 30px;
            #service-statement {
                margin-bottom: 60px;
                p {
                    font-size: .7em;
                }
            }
            section {
                padding: 0;
                img {
                    margin-top: initial;
                }
                div {
                    h2 {
                        font-size: 1.2em !important;
                    }
                    p {
                        font-size: 1em !important;
                    }
                }
            }
            section.orientation-left {
                div {
                    float: none;
                }
            }
            section.orientation-right {
                div {
                    float: none;
                }
            }
        }
    }
}
@media screen and (max-width: $layout-breakpoint-small) {
    #services {
        #service-section {
            margin-top: 0px;
            section {
                padding: 10px 0 0 0;
                img {
                    width: 100%;
                    margin-top: initial;
                }
                div {
                    width: 100%;
                    padding: 0 10px;
                    h2 {
                        margin-top: 40px;
                        font-size: 1.4em;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

//----------------------------------------------------------------------agile
#agile {
    @extend .content;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    color: $text-primary-color;
    h1 {
        font-weight: bold;
    }
    #agile-list {
        margin-top: 40px;
        #items {
            .slick-prev:before, .slick-next:before { color: $primary-color !important; }
            .slick-dots li button:before { font-size: 12px; color: $primary-color;}
            div {
                .agile-content {
                    background-color: $primary-color;
                    background-image: linear-gradient(to left, $primary-color, $secondary-color);
                    margin: 20px;
                    padding: 30px 30px;
                    color: white;
                    border-radius: 25px;
                    img {
                        display: inline-block;
                        width: 80px;
                        background-color: white;
                    }
                    h4 {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

//---------------------------------------------------------------------------------------contact
#contact {
    @extend .content;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $primary-color;
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
    color: white;
    text-align: center;
    #company-name {
        display: inline-block;
        width: 50%;
        div {
            display: inline-block;
            text-align: right;
            h1, h2 {
                line-height: .8 !important;
            }
        }
        h4 {
            margin-top: 40px;
        }
    }
    #company-address {
        display: inline-block;
        width: 50%;
        h4 {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-small) {
    #contact {
        padding-top: 30px;
        padding-bottom: 30px;
        #company-name {
            width: 100%;
            div {
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                }
            }
            h4 {
                font-size: 1.2em;
            }
        }
        #company-address {
            width: 100%;
            h4 {
                font-size: 1.2em;
            }
            h5 {
                font-size: 1em;
            }
        }
    }
}